<nav class="nav">
  <div class="nav_container">
    <h1 class="nav_title">Pizza recipes</h1>
    <ul class="nav_list">
      <li><a exact routerLink="/">Home</a></li>
      <li><a routerLink="/pizzas">Pizzas</a></li>
      <li><a routerLink="/ingredients">Ingredients</a></li>
    </ul>
    <!-- <ul class="dropdown-nav">
      <li class="dropdown-list" appDropDown>
        <a href="#"> Dropdown </a>
      </li>
      <ul>
        <li><a href="#">Save </a></li>
        <li><a href="#">Get</a></li>
      </ul>
    </ul> -->
  </div>
</nav>
