<nav class="nav">
  <div class="nav_container">
    <h1 class="nav_title">Pizza recipes</h1>
    <ul class="nav_list">
      <li><a exact routerLink="/">Home</a></li>
      <li><a routerLink="/pizzas">Pizzas</a></li>
      <li><a routerLink="/ingredients">Ingredients</a></li>
    </ul>
    <!-- <ul>
      <li class="dropdown_list">
        <a>
          Dropdown
          <span>X</span>
        </a>
      </li>
      <ul>
        <li>Save</li>
        <li>Get</li>
      </ul>
    </ul> -->
  </div>
</nav>
