<form class="add_item-form">
  <div class="add_item-input-container">
    <input
      class="add_item-text_input"
      type="text"
      required
      name="description"
      placeholder="Enter ingredient..."
    />
    <input
      class="add_item-number_input"
      type="number"
      required
      name="amount"
      placeholder="0"
    />
    <input
      class="add_item-units_input"
      type="text"
      required
      name="measurment"
      placeholder="units"
    />
  </div>
  <div class="button-container">
    <button class="button-add orange">Add Ingredient</button>
    <button class="button-shopping red">Cancel</button>
  </div>
</form>
