.details-shadow {
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.3);
  position: relative;
}
.details-contaier {
  display: flex;
  margin: 2rem 1rem 1rem;
  width: 40vw;
  height: 66vh;
}

.details-content-container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button-container {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}
.button-add,
.button-shopping {
  margin: 0.5rem;
  display: inline-block;
  outline: none;
  border: none;
  color: #e3e3e3;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 1rem;
}
.orange {
  background: #ff8000;
}
.brown {
  background: #b35a00;
}
.details-image {
  width: 70%;
  height: auto;
}
.details-header,
.details-description {
  margin: 0.5rem;
}
.details-list {
  margin-top: 0.5rem;
}

.details-button-info {
  position: absolute;
  left: 10%;
  bottom: 10%;
  background-color: #baf5bf;
  padding: 0.5rem;
  border-radius: 5px;
}

.fade-out {
  animation: fadeOut ease 1.5s;
  -webkit-animation: fadeOut ease 1.5s;
  -moz-animation: fadeOut ease 1.5s;
  -o-animation: fadeOut ease 1.5s;
  -ms-animation: fadeOut ease 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .details-contaier {
    width: 90vw;
  }
  .details-button-info {
    bottom: 20%;
  }
}
