<div class="details-shadow">
  <div class="details-contaier">
    <div class="details-content-container">
      <h1 class="details-header">{{ pizzaItem.name }}</h1>
      <p class="details-description">{{ pizzaItem.text }}</p>
      <img
        class="details-image"
        src="{{ pizzaItem.image }}"
        alt="{{ pizzaItem.name }}"
      />
      <ul class="details-list">
        <li *ngFor="let ingredient of pizzaItem.ingredients">
          {{ ingredient.name }} {{ ingredient.amount }} {{ ingredient.unit }}
        </li>
      </ul>
    </div>
  </div>
  <div class="button-container">
    <button class="button-add orange" (click)="onAddToIngredientList()">
      Add the ingredients to list
    </button>
    <button
      class="button-shopping brown"
      (click)="onRedirectToIngredientList()"
    >
      View ingredient list
    </button>
  </div>
</div>
