.ingredients-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.ingredients-list-container {
  width: 30vw;
}
.ingredients-form {
  width: 60vw;
}

h1 {
  margin: 1rem;
}
