.ingredients-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.ingredients-list-container {
  width: 30vw;
}
.ingredients-form {
  width: 60vw;
}

h1 {
  margin: 1rem;
}
@media (max-width: 767px) {
  .ingredients-section {
    flex-direction: column;
    width: 100vw;
    margin-left: 1rem;
  }
  h1 {
    width: 100vw;
  }
}
