.ingredient-link {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #b35a00;
  background-color: #ff8000;
  margin: 0.2rem;
  color: whitesmoke;
  border-radius: 5px;
  position: relative;
}
.ingredient-list-container {
  display: flex;
  flex-direction: column;
}
.ingredients-remove-button {
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}

@media (max-width: 767px) {
  .ingredient-list-container {
    width: 90vw;
  }
}
